@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body {
    margin: 0px;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: transparent;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0,0,0,45%);
    overflow-y: scroll;
}

.closed {
    overflow: hidden
}

.hex {
    font-size: 10vw;
    font-weight: 400;
}

.hex::selection {
    background-color: transparent;
    color: white;
}

.main-button {
    border: 10px double rgba(0,0,0,45%);
    color: transparent;
    background-color: transparent;
    font-size: 5vw;
    font-weight: 900;
}

.main-button:active {
    background-color: rgba(0,0,0,15%);
}

#color-list {
    width: fit-content;
    display: flex;
    margin-left: 0px;
    text-align: left;
    transition: all 1s ease-in-out;
    border-top: 10px double rgba(0,0,0,45%);
    border-bottom: 10px double rgba(0,0,0,45%);
    border-right: 10px double rgba(0,0,0,45%);
}

#drawer-button {
    transition: all 1s ease-in-out;
    border: none;
    border-left: 10px double rgba(0,0,0,45%);
    color: transparent;
    background-color: transparent;
}

.color {
    padding-top: 15%;
    padding-bottom: 15%;
}

.color::selection {
    background-color: transparent;
    color: red;
}

#color-list {
    position: relative;
    height: 98vh;
    overflow: none;
}
